
body{
    background-image: url("https://cutewallpaper.org/21/star-wars-high-resolution-wallpaper/Download-Star-Wars-Desktop-Wallpaper,-HD-Backgrounds-.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.card {
    margin: 20px;
}

.planets {
    overflow-y: auto;
    width: 400px;
    margin:20px;
    padding:20px;
}
.people{
    overflow-y: auto;
    width: 400px;
    margin:20px;
    padding:20px;
}
